/*General*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #c5b14b;
}

a:hover, a:focus {
  color: #988c4e;
  text-decoration: none;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #46403b;
  z-index: 900;
}

.navbar-toggle {
  display: block;
}

.top-bar {
  background-color: #161714;
  height: 12px;
}

.logo {
  color: #fff;
  padding: 20px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 60px;
}

.panel {
  margin: 10px 0;
}

/*Map*/
#map {
    margin: 0px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

/*Menu*/
.menu-wrapper {
  width: 275px;
  height: 100%;
  background-color: #6b3c26;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: -275px;
  font-size: 20px;
  transition: 0.3s;
}

.menu-wrapper .filters-wrapper {
  display: block;
}

.navbar-toggle {
  color: #fff;
  /*background-color: #544d47;*/
  text-transform: uppercase;
}

.navbar-toggle > span {
  font-size: 18px;
}
.menu-icon {
  width: 30px;
  padding-top: 4px;
  float:left;
}

div.menu-wrapper.closed {
  right: 0;
}

/*div.menu-wrapper.closed .filters-wrapper, div.menu-wrapper.closed .search-wrapper {
  display: none;
}*/

.menu-wrapper i.fa {
  color: #3e3f3a;
  margin-right: 10px;
}

.menu {
  margin-top: 85px;
}

.menu > li {
  padding: 0 15px;;
}

/* Filters */
.menu .panel-body {
  padding: 0;
  background-color: #eae7e1;
}

.menu .panel-body li {
  padding: 5px 20px;
}

.menu .panel-body li.selected {
  color: #fff;
  background-color: rgba(0,0,0, 0.3);
}

.menu .panel-body li > label {
  font-size: 14px;
  text-transform: uppercase;
}

.menu .panel-body input[type="checkbox"] {

}

/* Categories */
#category-filters > li{
  cursor: pointer;
}

/* Date */
#date-filters label {
  text-transform: uppercase;
  font-size: 11px;
}

#date-filters input[type="text"] {
  height: 30px;
  padding: 5px;
}

#search {
  /*background-color: blue;*/
}

@media screen and (max-width: 544px) {

  .menu-icon {
    padding-bottom: 0;
    width: auto;
  }

  .menu-wrapper {
    width: 100%;
  }

  div.menu-wrapper.closed {
    right: 0;
  }

  div#map.active {
    margin-left: 0px;
  }


}
